<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.reSipWebRTC.reSipWebRTCDemo">

    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- Creates a custom permission so only this app can receive its messages. -->
    <!--
    <permission android:name="com.cloudwebrtc.permission.C2D_MESSAGE" android:protectionLevel="signature" />
	<uses-permission android:name="com.cloudwebrtc.permission.C2D_MESSAGE" />
    App receives GCM messages.
	<uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    -->
    <!-- GCM requires a Google account. -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>

    <uses-feature android:name="android.hardware.camera" />
    <!-- <uses-feature android:name="android.hardware.camera.autofocus" /> -->
    <!-- <uses-feature android:name="android.hardware.audio.low_latency" /> -->

    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".CloudrtcDemo"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.reSipWebRTC.reSipWebRTCDemo.VideoScreenActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" >
            <!--
            android:screenOrientation="unspecified"
		    android:configChanges="orientation|keyboardHidden|navigation"
            -->
        </activity>
        <activity
            android:name="com.reSipWebRTC.reSipWebRTCDemo.CallActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/title_activity_call"
            android:parentActivityName="com.reSipWebRTC.reSipWebRTCDemo.CloudrtcDemo" >
        </activity>
        <activity
            android:name="com.reSipWebRTC.reSipWebRTCDemo.ReferencesSettings"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:label="@string/label_settings" />
        <service android:name="com.reSipWebRTC.service.PhoneService" />
        <receiver android:name="com.reSipWebRTC.receiver.PushBootReceiver" >
            <intent-filter>
                <!-- 关机监听 -->
                <action android:name="android.intent.action.ACTION_SHUTDOWN" />
                <!-- 手机唤醒解锁 -->
                <action android:name="android.intent.action.USER_PRESENT" />
                <!-- 手机启动监听 -->
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.reSipWebRTC.receiver.Alarmreceiver" >
            <intent-filter>
                <action android:name="cloudwebrtc.alarm.action" />
            </intent-filter>
        </receiver>
    </application>

</manifest>